
# Bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# System files
*.DS_Store

# Environment folders
.env
venv/
.venv/
rag-env/
rag-env-311/

# Ignore all PDFs except the public one
*.pdf
!assets/sample_pdfs/ST_SGB_2019_7-EN.pdf

# Jupyter notebook checkpoints
.ipynb_checkpoints/

